
.contenitore {
  position: relative;
}
.box {
  border:solid 2px;
  height: 200px;
  width: 15%;
  background-color: #F0F8FF;
  display: inline-block;
  margin-top: 10px;
  position: relative;


}

img {
  position: absolute;
  top:20px;
  bottom:20PX;
  left:18%;

}

span {
  position: absolute;
  right: 0px;
}

.sconto30 {
  border: 2px;
  background-color: green;
}

.sconto5 {
  border: 2px;
  background-color: red;
}

p {
  position: absolute;
  top: 80%;left: 50%;
  color: red;
  opacity: 0;
}

p:hover {
  opacity: 1;
}
